/* CV-1 */

h1 {
    color: #ff0000;
}

h2 {
    color: #ff0000;
}

h3 {
    color: #ec1212;
}

.experiences li{
    color: grey;
}
.skills li{
    color: grey;
}

.activities a{
    color: grey;
}

.formations li{
    color: grey;
}